<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>TaskFlow</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">TaskFlow</h1>

<h1>About Us</h1>
        <p>Welcome to TaskFlow, your innovative solution for streamlined student and lecturer task management. Our mission is to empower students and educators with a user-friendly platform that enhances organization, collaboration, and productivity.</p>
        <p>TaskFlow was born out of the need to simplify the complexities of academic life. Juggling assignments, projects, and deadlines can be overwhelming, which is why we designed TaskFlow to be the ultimate tool for managing tasks effectively.</p>
        <h2>Our Vision</h2>
        <p>Our vision is to create a cohesive and connected academic environment where students and lecturers can collaborate effortlessly. We believe that efficient task management is the key to unlocking success, and our platform is built to make that vision a reality.</p>
        <h2>Why Choose TaskFlow?</h2>
        <p>At TaskFlow, we prioritize user experience, functionality, and security. Our platform offers a seamless interface that caters to the unique needs of both students and educators. Features like assignment tracking, deadline reminders, and collaborative project spaces set TaskFlow apart as the go-to task management solution.</p>
        <h2>Get in Touch</h2>
        <p>We're excited to be a part of your academic journey. If you have any questions, suggestions, or feedback, please don't hesitate to reach out to us. Your experience with TaskFlow matters, and we're committed to continuous improvement.</p>
        <p>Contact us at <a href="mailto:techtest1270@gmail.com">contact@taskflow.com</a></p>




<!--    <p class="lead">Application for managing tasks for a team or a small company</p>

    <hr class="my-4">
    <p>Built with:</p>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Security</li>
        <li>H2 database</li>
        <li>Maven</li>
        <li>Thymeleaf</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>

    <p>Code: <a href="https://github.com/rengreen/task-manager">github.com/rengreen/task-manager</a></p>-->

</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>